In [13]:
import pandas as pd
data=pd.read_csv("data/Amazon_Reviews.csv")
data.head()

,Reviewer Name,Profile Link,Country,Review Count,Review Date,Rating,Review Title,Review Text,Date of Experience
0,Eugene ath,/users/66e8185ff1598352d6b3701a,US,1 review,2024-09-16T13:44:26.000Z,Rated 1 out of 5 stars,A Store That Doesn't Want to Sell Anything,"I registered on the website, tried to order a ...","September 16, 2024"
1,Daniel ohalloran,/users/5d75e460200c1f6a6373648c,GB,9 reviews,2024-09-16T18:26:46.000Z,Rated 1 out of 5 stars,Had multiple orders one turned up and…,Had multiple orders one turned up and driver h...,"September 16, 2024"
2,p fisher,/users/546cfcf1000064000197b88f,GB,90 reviews,2024-09-16T21:47:39.000Z,Rated 1 out of 5 stars,I informed these reprobates,I informed these reprobates that I WOULD NOT B...,"September 16, 2024"
3,Greg Dunn,/users/62c35cdbacc0ea0012ccaffa,AU,5 reviews,2024-09-17T07:15:49.000Z,Rated 1 out of 5 stars,Advertise one price then increase it on website,I have bought from Amazon before and no proble...,"September 17, 2024"
4,Sheila Hannah,/users/5ddbe429478d88251550610e,GB,8 reviews,2024-09-16T18:37:17.000Z,Rated 1 out of 5 stars,If I could give a lower rate I would,If I could give a lower rate I would! I cancel...,"September 16, 2024"

In [16]:
column_to_keep = ['Reviewer Name',
    'Rating',
    'Review Text'
]
df=data[column_to_keep]

In [17]:
df=df.copy()
df.dropna(inplace=True)
df

,Reviewer Name,Rating,Review Text
0,Eugene ath,Rated 1 out of 5 stars,"I registered on the website, tried to order a ..."
1,Daniel ohalloran,Rated 1 out of 5 stars,Had multiple orders one turned up and driver h...
2,p fisher,Rated 1 out of 5 stars,I informed these reprobates that I WOULD NOT B...
3,Greg Dunn,Rated 1 out of 5 stars,I have bought from Amazon before and no proble...
4,Sheila Hannah,Rated 1 out of 5 stars,If I could give a lower rate I would! I cancel...
...,...,...,...
21209,Anders T,Rated 5 out of 5 stars,"I have had perfect order fulfillment, and fast..."
21210,David E,Rated 5 out of 5 stars,"I have had perfect order fulfillment, and fast..."
21211,Joseph Harding,Rated 3 out of 5 stars,I always find myself going back to amazon beco...
21212,Mads Dørup,Rated 5 out of 5 stars,I have placed an abundance of orders with Amaz...
21213,Kim Fuglsang Kramer,Rated 4 out of 5 stars,"those goods i've ordered by Amazon.com, have b..."